 <header id="main-header">

  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top miNavBar p-1 " >
    <a class="navbar-brand p-3 fw-bolder text-success border border-success" href="/">TEAM GAMER DHOUSE</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto " >
        <li class="nav-item active">
          <a class="nav-link " href="/" >Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="font-nav" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/productos">Productos</a>
        </li>
      </ul>
      <ul class="my-2 my-lg-0 navbar-nav">
      <% if(locals.logueado) { %> 
                 <!--para admin-->
        <% if(locals.logueado.rol === 9 ) { %>
          <li class="nav-item">
              <a class="nav-link" href="/administrar">Administrar</a>
          </li>
        <%}%>  

                <!--para User y Admin-->

        <li class="nav-item">
          <a class="nav-link" href="/usuario/<%=logueado.id %>"> Hola <%= logueado.nombre %> </a>

        </li>
  
        <li class="nav-item">
          <img src="/image/avatar/<%=logueado.imagenusuario %>"   width = '30' style= 'border-radius: 100%;'alt="">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar sesión<ion-icon name="log-out-outline"></ion-icon></a>
        </li>
      <% } else { %>  
  
                  <!--sin Loguear-->
        <li class="nav-item">
          <a class="nav-link" href="/login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Registro</a>
        </li>
      <%}%>  
      </ul>
      
        <form class="d-flex  ">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

      
    </div>
  </nav>  

    
  

  </header> 
  