*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'roboto', sans-serif;
    margin: 0;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{font-size: 1.25em;}

ul{list-style: none;}
li{font-size: 1.45em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(0, 0, 0);
    background-color: rgb(157, 147, 167);

    
}
button:hover{
    cursor: pointer;
    background-color: rgb(52, 25, 209);
    
}
.container{
    max-width: 1200;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;


   
}
header{
    background-color: rgb(8, 8, 8);

}
header .logo{
    margin: 0;
    padding: 25px 30px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;

  

}
header .logo img{

    width: 100%;
    height: 100%;
    

}
header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.conteiner .search input{
    
    height: 100px;
}
    

header a{
    
    text-decoration: none;
    font-weight: bold;
    font-family: 'roboto';
    


    

}
header a:hover{
    color: blueviolet;

}

header nav ul li{
    display: inline-block;
    margin: 20px;
    color: aliceblue;

}
header nav ul li{
    
    cursor: pointer;
    
}



.gamesps .container{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.gamesps p{
    display: none;

}
.gamesps .container h2{
   
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    font-style: italic;
}

.gamesps .card{

   
    border: rgb(243, 9, 204) 2px solid;
    border-radius: 20px;
    margin:auto;
    padding: 15px;
    margin-top: 20px;
    background-color: azure;
    color: black;
    
    
    }

    .gamesps h2{
        text-align: center;
        font-weight: bolder;
        font-style: italic;
        color: blueviolet;
        background: rgb(202, 199, 199);


    }

    /*note*/

.notebooks .container{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.notebooks p{
    display: none;

}
.notebooks .container h2{
   
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    font-style: italic;
}

.notebooks .container .card{

   
    border: rgb(243, 9, 204) 2px solid;
    border-radius: 20px;
    width: 250px;
    margin:auto;
    padding: 15px;
    margin-top: 20px;
    background-color: azure;
    color: black;
    
    
    }

    .notebooks h2{
        text-align: center;
        font-weight: bolder;
        font-style: italic;
        color: blueviolet;
        background: rgb(202, 199, 199);


    }
    .notebooks img{
        width: 60%;
    }

    section .menu-main{
        display: none;
        
    }

    section .menu-top{
        display:flex;
        

    }







/* foooter*/

footer{

    background-color: #00aae4;
    width: 100%;
    max-width: 1200;
    

}
.contactos{
    font-size: 12px;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 200;


}

footer ul{

    list-style-type: none;
    padding: 0;
    
}
.redes{
    display: flex;
    justify-content: space-around;

}
.redes i{

    font-size: 25px;
    color: rgb(228, 213, 213);
    border: 3px solid rgb(255, 252, 252);
    padding: 3px;
    border-radius: 15px;
}

.pielista{
    display: flex;
    justify-content: space-around;

}
.pielista li a{

    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: monospace;
    font-style:italic;
    font-weight: bolder;
    font-variant-ligatures: contextual;

}

.cel{
    font-size: 20px;
}



    
@media (min-width:769px){


    .gamesps .card p{
        display:block;
        font-size: 18px;
        color: rgb(42, 209, 42);
        font-weight: bold;
        margin-bottom: 15px;

    }
    .notebooks .card p{
        display:block;
        font-size: 18px;
        color: rgb(42, 209, 42);
        font-weight: bold;
        margin-bottom: 15px;

    }
    section .menu-top{
        margin: 20px;
        list-style: circle;
       
        
    }
    
        
             
        
    }
    .categoria{
    
        width: 50%;
        margin-bottom: 15px;
        text-align: center;
        align-items: center;
      
          
    
    }
    
    

   

/*login*/

/*Ingreso*/

.login{

    width: 50%;
    background-color: rgb(54, 53, 53);
    margin: auto;
    margin-top: 50px;
    padding: 20px 30px;
    box-shadow: 7px 13px 37px #000;
    color: #FFF;
   

}


.tituloingreso{

    margin: 0;
    text-align: center;
    height: 45px;
    margin-bottom: 50px;
    border-bottom: 1px solid;
    font-size: 20px;
    font-family: 'roboto', monospace;
    font-style: italic;
}
.claves{

    width: 80%;
    margin: auto;
    border: 1px solid ;
    margin-bottom: 15px;
    padding: 12px 10px;
    border: #8450e4 1px;
    background: #ffffff;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    margin-left: 70px;

}
.botoningreso{
    display: block;
    width: 50%;
    height: 40px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(14, 150, 212);
    color: #FFF;
    margin-bottom: 30px;     

}

.botoningreso:hover{
    background-color: #0022AA;

}
.login p{

    text-align: center;
}
.login a{
    margin: auto;
    text-decoration: none;
    color: #FFF;
    padding: 10px;
    text-align: center;


}


main .ingreso{

    display: block;
    width: 100%;
    height: 50%;



}
    







    




