 .registro{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 248, 248);
    background: rgb(15, 15, 15);

}
    
.registro h2{
        text-align: center;
        font-family: cursive;
        text-transform: uppercase;
        padding: 1rem 1.5rem 1rem;
        border: .05rem solid #0FF37A;
        font-size: 3rem;
        color:#0FF37A

    
}

.formularioRegistro{

    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 2fr ;
    
    width: 70%;
    
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'san serif';
    color: rgb(17, 17, 17);
    
}
.formularioRegistro .etiqueta{

    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    text-align: center;
    



}
.formularioRegistro .input{

    width: 100%;
    background: #f7f8fa;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1px solid blue;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(15, 15, 15);
    margin-top: 15px;
    text-align: center;



}
.formularioRegistro .input :hover{
    cursor: pointer;

}

.formularioRegistro p{
    text-align: center;
    font-family: 'calibri';
    font-size: 20px;
    font-style: italic;
    padding: 10px;
    
}
.formularioRegistro p a{
    text-decoration: none;
    color: white;
    font-family: 'calibri';
    font-size: 20px;

}
.formularioRegistro p a:hover{
    text-decoration: underline;
    cursor: pointer;

}

.botonEnvio{

    margin-left: 40px;
    width: 40%;
    background: #f7f8fa;
    height: 40px;
    color: rgb(15, 15, 15);
    font-family: 'calibri';
    font-size: 22px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    margin-bottom: 30px;
    text-align: center;
    line-height: 20px;
    
    

    
}
.botonEnvio:hover{
    background: rgb(4, 190, 236);
    cursor: pointer;
    font-style: italic;


}
label{
    color:#0FF37A   
}

.separador{


    margin-top: 20px;
    margin: auto;
    padding: 20px;
    text-align: right;
    border-top: 1px solid white;
    color: white;
}

.forget-password{

    color:#0FF37A

}

.texto-error{

    color: rgb(138, 6, 6);
    margin-left: 0;
    padding-left: 4;
}

.etiqueta .input i{

    color:red
} */

.text-danger{

    color:rgb(138, 8, 8);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    padding-left: 4;



}





.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: rgb(255, 253, 253);
	border: 3px solid transparent;
	border-radius: 8px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}
.formulario__inputAvatar {
	width: 100%;
	background: rgb(2, 65, 107);
	border: 3px solid transparent;
	border-radius: 8px;
	height: 45px;
	line-height: 30px;
	padding: 0 30px 0 10px;
	transition: .3s ease all;
    color: white;
    
}

.formulario__input:focus {
	border: 3px solid #054b9b;
	outline: none;
	box-shadow: 40px 0px 70px rgba(57, 60, 253, 0.4);
}
.formulario__inputAvatar:focus {
	border: 3px solid #054b9b;
	outline: none;
	box-shadow: 40px 0px 70px rgba(108, 241, 153, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}




