<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
<main>

    <div class="formularioRegistro">

        <form action="/productos/plataforma/crear" method="post">
            <label >Ingreso de Plataformas: </label>
            <input class="etiqueta" type="text" name="nombre" >


            <br>

            <button type="submit">Agregar generos</button>
            

            


        </form>



    </div>






</main>    


    <%- include('../partials/footer.ejs') %> 
</body>
</html>