<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Joan&family=Montserrat:ital,wght@0,200;0,300;1,200&family=Roboto:ital,wght@0,300;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://kit.fontawesome.com/fb9ec8629a.js" crossorigin="anonymous"></script>
     
    <title>TeamGamerDHouse</title>
</head>
<body>
   <header>
    <div class="main-header">
        

        <div class="header-top">
            <div class="logo-gamer">
                <img src="image/Logo/logoTeamGamerDHouse.jpeg" alt="logo" class="logo">
                <a href="#"></a>
            </div>
            <div class="barrasearch">
                <form action="search ">
                    <input type="search" name="search" placeholder="Que productos Buscas?">
                        <i class="fa-solid fa-magnifying-glass"></i>

                </form>

            </div>
           
        </div>
        <div class="header-bajo">
               <nav>
                     <ul class="barras">
                         <li><a href="#"><form action="categoria" method="POST">
                            <select name="categoria" id="categoria">BUSQUEDA POR CATEGORIA
                                <option value="Catergoria">Categorias</option>
                                <option value="placas">Placas de Video</option>
                                <option value="procesadpres">Procesadores</option>
                                <option value="memorias">Memorias</option>
                                <option value="placas">Placas de Video</option>
                                <option value="Almacenamiento">Almacenamiento</option>
                            </select> </form></a></li>

                         <li><a href="#"><form action="ofertas" method="POST">
                            <select name="ofertas" id="ofertas">
                                <option value="ofertas">Ofertas</option>
                                <option value="ofpc">Ofertas Notebook</option>
                                <option value="ofPS4">Ofertas Games PS4</option>
                                <option value="OfAccesorios">Ofertas Accesorios</option>
                            </select>
                         </form></a></li>
                         
                     </ul>
                </nav>
            </div>
        
    </div>
   </header> 
   
   <main>

        <section class="banner">
            <div>
                
            </div>
        </section>

        <section class="banner2">
            <img src="image/Logo/main-top-diadelpadre.webp" alt="banner" class="logobaner">
        </section>
 
        <section>

            <div class="producto">

            </div>
            <div class="producto">
                
            </div>
            <div class="producto">
                
            </div>
            <div class="producto">
                
            </div>
            <div class="producto">
                
            </div>
            <div class="producto">
                
            </div>







        </section>



   </main>
   
   <footer>
    
        <section class="contactos">
            <h2><marquee >Seguinos en las Redes</marquee> </h2>
                <div class="redes">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-twitter"></i>
      
                 </div>
                    
                <div>
                    <ul class="cel">
                      <li class="iconowas">Whatsapp <i class="fa-brands fa-whatsapp"></i></li>
                 
                                                                            
                        </ul>
                   </div>
    
        </section>

        <section>
            <div class="pie">
                    <ul class="pielista">
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Locales</a></li>
                        <li><a href="#">Todas las categorias</a></li>
                    </ul>
            </div>
        </section>          

    </footer>
</body>
</html>