<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Joan&family=Montserrat:ital,wght@0,200;0,300;1,200&family=Roboto:ital,wght@0,300;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styleLogin.css">
    <script src="https://kit.fontawesome.com/fb9ec8629a.js" crossorigin="anonymous"></script>
     
    <title>TeamGamerDHouse</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logos">
                <img src="image/Logo/logoTeamGamerDHouse.jpeg" class="logo" alt="logo">
            </div>
            <div class="search">
                <input type="search" name="search" id="search" placeholder="Que producto buscas?">
            </div>
            <nav class="indice">
                <ul>
                    <li><a href="/views/login"></a>INGRESA <i class="fa-duotone fa-arrow-down-to-square"></i></li>
                    <li><a href="/carritocompra"></a>COMPRA <i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </nav>
        </div> 
   
         
    </header>
    <main>
        <body class="color">
            <div >
                <h1> Ingresa a tu cuenta</h1>
             
                
             </div>
             <div>
                <form id="loginform" action="#">
        
            
            
        
                <i class="fa fa-envelope"></i>
                <input type="email" placeholder="E-mail" required autocomplete="off" validate>
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Password">
                <input type="checkbox">
                <span>Recordarme</span><br>
             </div>
        
            <div class="log-sign">
                <button class="login" form="loginform"><i class="fa fa-mail-forward (alias)"></i> Ingresar</button>
            </div>
                
            <div class="social-media">
                <button class="btn1">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i> Ingresa con facebook</a>
                </button>
        
                <button class="btn2">
                <a href="#" target="_blank"><i class="fa fa-twitter"></i> Ingresa con Google</a>
                </button>
            </div>
        
            <p class="forget-password">Olvidaste tu contraseña? <a href="#">click aca</a></p>
        
        </form>


    </main>

    
    <footer>
    
        <section class="contactos">
            <h2><marquee >Seguinos en las Redes</marquee> </h2>
                <div class="redes">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-twitter"></i>
      
                 </div>
                    
                <div>
                    <ul class="cel">
                      <li class="iconowas">Whatsapp <i class="fa-brands fa-whatsapp"></i></li>
                 
                                                                            
                        </ul>
                   </div>
    
        </section>

        <section>
            <div class="pie">
                    <ul class="pielista">
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Locales</a></li>
                        <li><a href="#">Todas las categorias</a></li>
                    </ul>
            </div>
        </section>          

    </footer>
</body>
</html>