<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main class="registro">
        <h2>Formulario de Registro de Usuario</h2>

        <form  class="formularioRegistro" action="/user/login" method="post">
            <div class="etiqueta">
                <label>Ingrese su nombre completo:</label>
                    <input class="input" type="text" name="nombreCompleto" placeholder="Ingrese su nombre">
            </div>
            <div class="etiqueta">
                <label >Ingese su Email</label>
                    <input class="input" type="email" name="mailusuario" placeholder="Ingrese su Email">
            </div>
            <div class="etiqueta">
                <label>Ingrese su Contraseña:</label>
                    <input class="input" type="password" name="password"placeholder="Ingrese su contraseña">
            </div>
            <div class="etiqueta">
                <label>Repita Contraseña:</label>
                    <input  class="input" type="password" name="password2"placeholder="Repita su contraseña">
            </div>
            
            <div class="etiqueta">
                <label>Ingrese su localidad:</label>
                    <select  class="input" name="Provincia">
                        <option value="provincia">Provincia</option>
                            <option value="buenosAires">Buenos Aires</option>
                            <option value="caba">Ciudad Autonoma de Buenos Aires</option>
                            <option value="catamarca">Catamarca</option>
                            <option value="chaco">Chaco</option>
                            <option value="chubut">Chubut</option>
                            <option value="cordoba">Córdoba</option>
                            <option value="corrientes">Corrientes</option>
                            <option value="entreRios">Entre Ríos</option>
                            <option value="formosa">Formosa</option>
                            <option value="jujuy">jujuy</option>
                            <option value="laPampa">La Pampa</option>
                            <option value="laRioja">La Rioja</option>
                            <option value="mendoza">Mendoza</option>
                            <option value="misiones">Misiones</option>
                            <option value="neuquen">Neuquen</option>
                            <option value="rioNegro">Río Negro</option>
                            <option value="salta">Salta</option>
                            <option value="sanJuan">San Juan</option>
                            <option value="sanLuis">San Luis</option>
                            <option value="santaCruz">Santa Cruz</option>
                            <option value="santaFe">Santa Fe</option>
                            <option value="santiagoDelEstero">Santiago Del Estero</option>
                            <option value="tierraDelFuego">Tierra Del Fuego</option>
                    </select>
                   
                </div>

                <div class="etiqueta">
                    <label>Ingrese su Foto de Perfil:</label>
                        <input  class="input" type="file" name="fotoUsuario" placeholder="Ingrese su Foto">
                </div> 
                
            </div>
            <div>
                <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
            </div>
            
                <input  class="botonEnvio" type="submit" value="Registrarme">
            
            <p><a href="#">Usuario ya registrado?</a></p>



        </form>

    

    </main>
   
    <%- include('../partials/footer.ejs')%>

  
</body>
</html>