<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/header.ejs') %> 

    <main class="mainContainerCompra">
        <div class="menuCompra">
            <div class="menuCompraTitulo">
                <h1>Mi Compra</h1>
                <ul class="navMenuCompra">
                    <a href="#"><li class="navMenu">Mi Carrito</li></a>
                    <a href="#"><li class="navMenu">Envio y Pago</li></a>
                    <a href="#"><li class="navMenu">Finalizar</li></a>
                </ul>
            </div>
        </div>
        <div class="productosCompra">
            <form action="#" id="" method="post" >
                <div class="barraDeCompra">
                    <table class="tablaDeCompra">
                        <thead>
                            <tr class="tableHeader">
                                <th class="th_img">
                                    <i class="fa-regular fa-camera-retro"></i>
                                </th>
                                <th class="th_producto">Producto</th>
                                <th class="th_canti">Cant.</th>
                                <th class="th_precio"> $. Precio</th>
                                <th class="th_Subto">$. SUbtotal</th>
                                <th class="vacio"></th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr class="tabla">
                                <th >
                                    <div>>
                                        <img class="prImg" src="image/Imagenes Productos/notebooks/600_750-402083_001.jpg" alt="">
                                    </div>
                                </th>
                                <th>
                                    <div class="detallePro">
                                        <a class="prNombre" href="#">
                                            <span>Notebook APPLE</span>
                                        </a>
                                        <span class="prInfo">Codigo 797979</span>
                                        
                                    </div>

                                </th>
                                <th>
                                    <input class="prCantidad" type="number" name="cantidad" id="cantidad" min="1" max="15">
                                </th>
                                <th class="prPrecio">$7900.00</th>
                                <th class="prSubto">$7900</th>
                                <th class="eliminar"><i class="fa-regular fa-circle-trash"></i></th>
                            </tr>
                        </tbody>
                    </table>
                    <a class="agregarPr" href="#">Agregar mas Productos</a>
                    
                </div>
                <aside class="resuImportes">
                    <div class="total-seccion">
                        <div class="subtotalFila">
                            <div class="subtotal">
                                Subtotal
                            </div>
                            <div class="importesubtotal">
                                7900
                            </div>
                        </div> 
                        <div class="totalFila">
                            <div class="total">
                                total
                            </div>
                            <div class="importeTotal">
                                <span class="total$">$</span>
                                <strong class="totalNumero">7900</strong>
                            </div>
                        </div>


                    </div>
                    <div class="continuarCompra">
                        <h2> CONTINUAR</h2>
                    </div>
                    


                </aside>

            </form>

        </div>
    


    </main>
     

    <%- include('./partials/footer.ejs') %> 
</body>
</html>