<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   <%- include('./partials/header.ejs') %>
    <main>
        <body class="color">
            <div >
                <h1> Ingresa a tu cuenta</h1>
             
                
             </div>
             <div>
                <form id="loginform" action="#">
        
            
            
        
                <i class="fa fa-envelope"></i>
                <input type="email" placeholder="E-mail" required autocomplete="off" validate>
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Password">
                <input type="checkbox">
                <span>Recordarme</span><br>
             </div>
        
            <div class="log-sign">
                <button class="login" form="loginform"><i class="fa fa-mail-forward (alias)"></i> Ingresar</button>
            </div>
                
            <div class="social-media">
                <button class="btn1">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i> Ingresa con facebook</a>
                </button>
        
                <button class="btn2">
                <a href="#" target="_blank"><i class="fa fa-twitter"></i> Ingresa con Google</a>
                </button>
            </div>
        
            <p class="forget-password">Olvidaste tu contraseña? <a href="#">click aca</a></p>
        
        </form>


    </main>
    <%- include('./partials/footer.ejs') %>

    
    
</body>
</html>