<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>
    
    <main class="containerProductos">

        <h3>Pagina en Construccion</h3>
        
 
    </main> 

    <%- include('./partials/footer.ejs') %> 
</body>
</html>