<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <div class="box"> 
            <div class="formulario">
    
                <form id="form-login" action="#" method="post" >
                    <p><label for="nombre">Nombre:</label>
                        <input name="nombre" type="text" id="nombres" class="nombres" placeholder="Juan Antonio" ></p> 
    
                   <p><label for="apellido">Apellidos:</label>
                        <input name="apellidos" type="text" id="apellidos" class="apellidos" placeholder="Perez" /></p>
    
                     <p><label for="telefono">telefono:</label>
                        <input name="telefono" type="text" id="telefono" class="telfono" placeholder="+541123456789" /></p>
                    
    
                    <p><label for="correo">Correo:</label>
                        <input name="correo" type="text" id="correo" class="correo" placeholder="email@email.com" /></p>
    
                    <p><label for="pass">Password:</label>
                        <input name="pass" type="password" id="pass" class="contraseña" placeholder="Contraseña" /></p>
    
                    <p><label for="repass">Repetir Password:</label>
                        <input name="repass" type="password" id="repass" class="repass" placeholder="Repite contraseña" /></p>
    
                       <br>
                     
                        <p id="bot"> <input class="button" type="submit" value="CREAR CUENTA"> </p>
                </form>
            </div>
         </div>   

    </main>

    <footer>

    <section class="contactos">
        <h2><marquee >Seguinos en las Redes</marquee> </h2>
            <div class="redes">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
  
             </div>
                
            <div>
                <ul class="cel">
                  <li class="iconowas">Whatsapp <i class="fa-brands fa-whatsapp"></i></li>
             
                                                                        
                    </ul>
               </div>

    </section>

    <section>
        <div class="pie">
                <ul class="pielista">
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="#">Locales</a></li>
                    <li><a href="#">Todas las categorias</a></li>
                </ul>
        </div>
    </section>          

</footer>
</body>
</html>